<?xml version="1.0"?>
<robot name="r2">

    <!-- base link -->
    <link name="base_link">
        <visual>
        <origin xyz="0 0 0.0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.12" length="0.10"/>    
            </geometry>    
        </visual>
    </link>

    <!-- laser link-->
    <link name="laser_link">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="0.02" length="0.02"/>   
        </geometry>
        <material name="black">
            <color rgba="0.0 0.0 0.0 0.5" />
        </material>
        </visual>
    </link>

    <!-- laser joint-->
    <joint name="laser_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_link"/>
        <origin xyz="0 0 0.075"/>
    </joint>
</robot>
